{% extends "base.html" %}

{% block title %}配送范围{% endblock %}

{% block content %}
<style type="text/css">
#j-map {height: 600px;overflow: hidden;margin:0;font-family:"微软雅黑";}
.m-main{
	width: 920px;
  padding: 10px 30px;
}
label{
	max-width: 200px;
}
.area-list li{
  border-bottom: solid 1px #DADADA;
}
.area-list li h4{
	font-size: 1.2em;
}
.area-list li p{
	margin: 5px 0;
}

</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>	
	<div class="m-banner"></div>
	<div class="container m-main">
		<div class="row">
			<h3>配送范围（北京五环内）</h3>
		</div>
		<div class="row">
			<div id="j-map" class="col-md-9"></div>
			<div class="col-md-3">
				<ul class="list-unstyled area-list">
					{% for a in area_list %}
					<li>
						<h4>{{a.name}}</h4>
						<p><strong>地址：</strong>{{a.address}}</p>
						<p><strong>服务电话</strong>：{{a.tel}}</p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>
{% endblock %}