{% extends "base.html" %}

{% block title %}配送范围{% endblock %}

{% block content %}
<style type="text/css">
#allmap {height: 600px;overflow: hidden;margin:0;font-family:"微软雅黑";}
.m-main{
	width: 920px;
  padding: 10px 30px;
}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GLfzo34AN5Sf7llYeCWlCw8E"></script>
	<div class="m-banner"></div>
	<div class="container m-main">
		<div class="row">
			<h3>配送范围</h3>
		</div>
		<div class="row">
			<div id="allmap" class="col-md-9"></div>
			<div class="col-md-3">
				<ul class="list-unstyled">
					{% for a in area_list %}
					<li>
						<h4>{{a.name}}</h4>
						<p><strong>地址：</strong>{{a.address}}</p>
						<p><strong>服务电话</strong>：{{a.tel}}</p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
	map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>
{% endblock %}