{% extends "base.html" %}

{% block title %}我们的客户{% endblock %}

{% block content %}
<style type="text/css">
	.logo-list li{
		text-align: center;
		float: left;
		width: 230px;
	}
</style>
<div class="m-banner"></div>
<div class="container m-main">
	<h3>我们的客户</h3>
	<ul class="list-unstyled logo-list cf">
		<li>
			<img src="/static/images/logo/1.jpg">
			<p>星巴克</p>
		</li>
		<li>
			<img src="/static/images/logo/2.jpg">
			<p>星巴克</p>
		</li>
		<li>
			<img src="/static/images/logo/3.jpg">
			<p>星巴克</p>
		</li>
		<li>
			<img src="/static/images/logo/4.jpg">
			<p>星巴克</p>
		</li>
		<li>
			<img src="/static/images/logo/5.jpg">
			<p>星巴克</p>
		</li>


	</ul>
</div>
{% endblock %}