{% extends "base.html" %}

{% block title %}极客冷链配{% endblock %}

{% block content %}
<style type="text/css">
.intro-nav{
	padding: 10px 0;
}
.intro-nav li{
	font-size: 15px;
	margin-bottom: 5px;
	cursor: pointer;
}
.intro-content{
	/*padding: 10px;*/
	margin: 10px 0;
}
.intro{
	text-align: center;
  min-height: 400px;
}

.intro .cover{
	margin-bottom: 20px;
}
.intro p{
	/*text-indent: 2em;*/
	font-size: 1.1em;
	text-align: left;
}
.intro h4{
	margin-top: 0;
	margin-bottom: 30px;
	text-align: left;
}
.intro img{
	margin-bottom: 20px;
}

.intro-nav .active{
	font-weight: 700;
	/*color: #5A9AD3;*/
}
.new-list{
	text-align: left;
}
.fr{
	float: right;
}
.bigger{
	font-size:1.2em
}
</style>
<div class="m-banner"></div>
<div class="container m-main">
	<div class="span3" role="complementary">
		<ul class="nav intro-nav" id="j-intro-nav">
			<li data-intro="intro1">极客简介</li>
			<li data-intro="intro3">全程冷链配送</li>
			<li data-intro="intro4">智能仓储</li>
			<!-- <li data-intro="intro2">大客户服务</li> -->
			<li data-intro="intro5">注意事项</li>
			<li data-intro="intro6">联系我们</li>
			<li data-intro="intro7">公司新闻</li>
		</ul>
	</div>
	<div class="span9 intro-content" role="main">
		<div id="intro1" class="intro">
			<h4>极客简介</h4>
			<img class="cover" src="/static/images/intro/intro.png"> 
			<p style="width:600px;text-indent:2em;line-height:1.8em">极客智慧冷链(Geek Intelligent Logistics)采用“互联网+智慧冷链”模式，利用数字信息技术、移动互联网通信技术、云计算技术打造了“一个云中心，三个端，4大系统”从云到端的冷链配送专业服务智能化管理平台。</p>
			<p>公司名：极客冷链物流有限公司</p>
			<p>成立日期：2015年7月</p>
			<p>公司地址：北京市朝阳区观音堂文化大道甲6号东楼101室</p>
			</br>
			<p><strong>【服务内容】</strong></p>
			<p>提供冷链宅配，面向一般消费者和企业的小型货物运输业务。</p>
			<p>提供专业的第三方物流服务，包括、集装箱、冷藏保鲜、普通货物等运输业务。</p>
		</div>
		<div id="intro2" class="intro m-hide">
			<h4>生鲜电商托管</h4>
			<img src="/static/images/process.png">
			<p>极客冷链配是为了保障对于配送温度控制方面要求较高的生鲜类、冻品类商品品质，通过特殊工具及设备进行同城的全程冷运配送，针对电商客户所推出的专属服务。此服务在满足生鲜业态个性化、定制化需求的同时，使消费者也获得一种高品质的快递体验。黑狗启用了包括优先配载、优先派送、直发操作、特别包装等等环节的运作模式。对于商户而言，快递的品质可增强其产品优势；对于消费者而言，“快”已经不是消费者对快递的唯一考量，品质快递才是更需要的。</p>
			<p>为了保证生鲜类快件的时效，我们安排专人跟进、监控生鲜速配快件，研发配套适用的系统工具，配备专项理赔。我们在中转环节会设置专门生鲜品速配快件的操作区域，以便快件得到优先配载，在派送环节要求收派员优先派送生鲜速配快件。</p>
		</div>
		<div id="intro3" class="intro m-hide">
			<h4>全程冷链配送</h4>
			<img src="/static/images/intro/transport.png">
			<p class="bigger"><strong>保证新鲜和美味</strong></p>
			<p>科技创造新鲜品质，极客冷链采用最严格的冷鲜物流标准，冷链物流新鲜直达。</p>
			<p>专业物流团队和冷藏车，运输全程精确温度控制，下车快递过程中使用冷藏周转箱保存，让食物始终保持同样的温度到您手中。</p>
			<p>我们坚持环保，绝不浪费纸箱和使用环保可降解塑料袋，每箱都有独立的标签追踪识别。一般低温（冷藏、冷冻）包裹，20公斤以内，宅配海鲜或美食也可以。</p>
			</br>
			<!-- <p></p> -->
			<!-- <p><strong>【配送运费计算方式】</strong></p> -->
			<!-- <p>根据包裹内的物品不同，请和工作人员商量适合的包装。</p> -->
		</div>

		<div id="intro4" class="intro m-hide">
			<h4>智能仓储</h4>
			<img src="/static/images/intro/store2.png">
			<p>总面积1500平方米，配有实名门禁控制；24 小时 ADT 安保系统与 110 实时联网、24 小时 CCTV 高清摄像监控等安防设施；全年 365 天专人管理，管理员每日定时巡仓；温湿度实时观测监控，消防设施齐全；装卸区配有大型液压仓储货梯。</p>
			<p>包装纸箱、胶带、挂锁、推车、理货梯、物流运输等辅助服务一应俱全。</p>
			</br>
			<p><strong>【仓储标准】</strong></p>
			<p>仓库配备符合专业标准的冷藏库（0-4℃）和冷冻库（-18℃），依据每一种商品独特的保鲜需求分别储藏。</p>
		</div>
		<div id="intro5" class="intro m-hide">
			<h4>注意事项</h4>	
			<p><strong>【注意事项】</strong></p>
			<p>在发货之前，请务必进行预冷冷藏。</p>
			<p>在装货、分类、集中车辆的时候可能会遇到温度变化的情况。</p>
			<p><strong>【配送范围】</strong></p>
			<p>仅限北京市</p>
			<p><strong>【配送时间】</strong></p>
			<p>周一至周日8:00-20:00</p>
			<p><strong>【取货时间】</strong></p>
			<p>商家截止发货时间为每天的18:00</p>
			<p>收件人不在的情况下，在重新发送之前会将包裹保管于收货就近分站点处的冷冻或冷藏库。 </p>
		</div>

		<div id="intro6" class="intro m-hide">
			<h4>联系我们</h4>
			<img src="/static/images/logo.png">
			<p style="margin-top:20px;">极客冷链总部：北京市朝阳区观音堂文化大道甲6号东楼101室</p>
			<p>联系电话：010-57154918</p>
			<p>办公时间：周一至周五9:00-18:00</p>
			<p>邮箱：kf@geeklogistics.cn</p>
			</br>
			<p>配送中心总部：北京市大兴区魏善庄镇后大营村</p>
			<p>客服电话：400-887-0387</p>
			<p>服务时间：周一至周日8:00-20:00</p>
		</div>

		<div id="intro7" class="intro m-hide">
			<h4>公司新闻</h4>
			<!-- <img class="cover" src="/static/images/logo.png"> -->
			<ul class="new-list">
				{% for news in news_list %}
					<li>
						<a href="/news/{{news.id}}"><span>{{news.title}}</span><span class="fr">{{news.ctime|date:'Y-m-d H:m:s'}}</span></a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>
{% endblock %}