{% extends "base.html" %}

{% block title %}下单成功！{% endblock %}

{% block content %}
<style type="text/css">
  .check{
    width: 300px;
  }
  .reminder{
    text-align: center;
    font-size: 1.1em;
    margin-top: 20px;
  }
</style>

  <div class="m-banner"></div>
  <div class="container m-main">
    <p class="reminder">
      <img class="check" src="/static/images/icon/order-ok.png">
    </p>
    <p class="reminder">我们会在当天内与您进行电话确认订单，并通知配送员上门取货。</p>
    <p class="reminder">您可以到<a href="/list/{{poi_id}}">我的订单</a>中查看订单状态</p>
    <p class="reminder">或者进入<a href="/order/{{deliver_id}}">订单详情</a>进行查看</p>
    
  </div>
{% endblock %}
