{% extends "webapp/base.html" %}

{% block title %}极客冷链配{% endblock %}

{% block content %}
    <div class="navi">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/m"><img src="/m/static/img/return.png" class="return"/></a>

                    <p>联系我们</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about_us">
        <img src="/m/static/img/contact_us.jpg"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1><span class="glyphicon glyphicon-home"></span>名称</h1>

                <p>北京百富达物流有限责任公司</p>

                <h1><span class="glyphicon glyphicon-earphone"></span>电话</h1><a href="tel:4006562256">4006-562-256</a>

                <h1><span class="glyphicon glyphicon-print"></span>传真号</h1>

                <p>010-61253955</p>

                <h1><span class="glyphicon glyphicon-envelope"></span>email</h1><a
                    href="baifuda@bfd-logistics.com?subject=Question about Spire">baifuda@bfd-logistics.com</a>

                <h1><span class="glyphicon glyphicon-tower"></span>地址</h1>

                <p>北京市大兴区黄村镇周村中街东路临11号</p>
            </div>
        </div>
    </div>
{% endblock %}




