<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">	
	<title></title>	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.11.0.js"></script>
</head>
<body>	
	<div class="navi">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a><img src="img/return.png" class="return"/></a>
					<p>订单列表</p>
				</div>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified" role="group">
				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default">未配送</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default active">配送中</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default">已配送</button>
				  </div>
				</div>
			</div>
		</div>
		<div class="row orders">
			<div class="col-xs-12">
				<div class="panel panel-default">
				  <div class="panel-heading">配送中订单</div>
				  <div class="panel-body">
					  <table class="table">
					  		<tr>					    	
					  			<th><input type="checkbox" id="checkAll"></th><th>订单编号</th><th>当前站点</th>
					  		</tr>
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>					    									    	
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>	
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>	
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>
					  		<tr>
					    		<td><input type="checkbox" name="subBox"></td><td>123123</td><td>大兴站</td>
					    	</tr>					    						    						  					  
					  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="main_btn" id="change_position">更改站点</div>
			</div>
		</div>
	</div>
	<div class="pop_up">
		<div class="cover"></div>
		<div class="box container">
			<div class="row">
				<div class="col-xs-12">
					<div class="main_btn btn_place">大兴站</div>
					<div class="main_btn btn_place">大兴站</div>
					<div class="main_btn btn_place">大兴站</div>
					<div class="main_btn btn_place">大兴站</div>
					<div class="main_btn btn_place">大兴站</div>
				</div>
			</div>
		</div>
		<div class="close_button"><img src="img/return_circle.png" /></div>
	</div>	
	<script>
		$("#checkAll").on('click', function(){
			if(this.checked){ 
				$("input[name='subBox']").each(function(){this.checked=true;}); 
			}else{ 
				$("input[name='subBox']").each(function(){this.checked=false;}); 
			}
		});
		$("#change_position").on('click', function(){
			$(".pop_up").show();
		});
		$(".btn_place").on('click', function(){
			$(".pop_up").hide();
		});
		$(".close_button").on('click', function(){
			$(".pop_up").hide();
		});
	</script>
</body>





