{% extends "webapp/base.html" %}

{% block title %}极客冷链配{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <a href="/m/intro">
                        <div class="card">
                            <img src="static/img/company.png"/>

                            <p>公司介绍</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="/m/service">
                        <div class="card">
                            <img src="static/img/service.png"/>

                            <p>服务项目</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <a href="/m/order/search">
                        <div class="card">
                            <img src="static/img/order_search.png"/>

                            <p>订单查询</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="/m/dispatcher/login">
                        <div class="card">
                            <img src="static/img/express.png"/>

                            <p>配送员专区</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <a href="/m/contact">
                        <div class="card">
                            <img src="static/img/contact_us.png"/>

                            <p>联系我们</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="/m/merchant/login">
                        <div class="card">
                            <img src="static/img/merchant.png"/>

                            <p>合作商家</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <a href="/m/news">
                        <div class="card">
                            <img src="static/img/news.png"/>

                            <p>公司新闻</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





