{% extends "webapp/base.html" %}

{% block title %}极客冷链配{% endblock %}

{% block content %}
    <div class="navi">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/m/"><img src="/m/static/img/return.png" class="return"/></a>

                    <p>公司介绍</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about_us">
        <img src="/m/static/img/contact_us.jpg"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1><span class="glyphicon glyphicon-home"></span>公司介绍</h1>
                <hr/>
                <p>北京百富达物流有限责任公司，成立于2010年5月，总部位于北京市大兴区黄村镇芦求路周村中街东路临11号。</p>

                <p>
                    公司业务覆盖生鲜电商物流托管、冷链快递、第三方物流、物流增值服务、仓库租赁等领域，通过整合内外物流资源，提供"一站式"综合物流服务，满足客户对物流配送的个性化需求。公司专注于冷链物流的经营和发展、坚持用专业的精神支撑专业的服务、用专业的服务打造专业的品牌、用专业的品牌树立专业的形象，先后与知名企业麦当劳食品有限公司、雨润食品有限公司、伊藤忠华堂公司、外红物流公司、秦皇岛正大食品有限公司、肯德基食品有限公司、顶新集团、星巴克食品有限公司、沃尔玛超市、家乐福超市、卜蜂莲花、辛普劳（北京）食品有限公司、丘比（北京）食品有限公司、山东绿润食品有限公司、北京华联集团投资控股有限公司等建立了良好的业务合作关系，赢得了业内的广泛认可和社会各界的高度赞誉。</p>

                <p>
                    公司目前自建冷库25000㎡，常温库面积29000㎡，公司拥有2吨、5吨、8吨、10吨及40英尺冷藏集装箱40余台，拥有新能源小型冷藏车50多台，可控车源200多台。公司能安全、快速提供冷库仓储、货物包装、分拣配送、信息流转、动态仓储等一体化托管服务。公司秉持“关注百姓需求、追求客户满意、实现社会价值”的经营理念“，通过专业化、信息化不断强化操作能力、不断升级产品项目、不管提升服务品质，致力于给客户提供优越的服务体验。</p>

                <p>在取得“中国优秀民营企业“、”中国著名品牌“、”北京市道路运输百强诚信企业“等荣誉称号同时，公司将继续朝着“打造全球第一冷链服务平台，让百姓吃上放心食品”的愿景努力。</p>
            </div>
        </div>
    </div>
{% endblock %}
