{% extends "webapp/base.html" %}

{% block title %}极客冷链配{% endblock %}

{% block content %}
    <div class="navi">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/m"><img src="/m/static/img/return.png" class="return"/></a>

                    <p>公司新闻</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about_us">
        <img src="/m/static/img/contact_us.jpg"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1><span class="glyphicon glyphicon-globe"></span>公司新闻</h1>
                <hr/>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2015年4月12日</span>
                        公司上市啦！
                    </li>
                </ul>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}




