{% extends "webapp/base.html" %}

{% block title %}极客冷链配{% endblock %}

{% block content %}

	<div class="navi">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="/m"><img src="/m/static/img/return.png" class="return"/></a>
					<p>订单查询</p>
				</div>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="/m/static/img/logo.png" class="logo" />
				  <input type="text" placeholder="订单号" />	
				  <div class="main_btn">查询</div>
			</div>
		</div>
	</div>										
{% endblock %}




